<?xml version='1.0' encoding='utf-8'?>
<widget id="com.elsonsmith.simplerc" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Simple Remote Control</name>
    <description>
        A app made by Elson Smith (elsonsmith87@gmail.com) that allows you to control your DirecTV entertainment center from your phone.
    </description>
    <author email="elsonsmith87@gmail.com" href="http://elsonsmith.com/portfolio">
        Elson Smith
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="*" />
    <allow-navigation href="*" />
    <plugin name="cordova-plugin-whitelist" source="npm" />
    <icon src="images/src-icon.png" />
    <plugin name="cordova-plugin-networkinterface" spec="~1.2.0" />
</widget>
